/* The user feedback message box */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .info {
    background-color: #000000;
    color: #ffffff;
  }
  
  /* The close X button */
  .closebtn {
    margin-left: 15px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: #c1c1c5;
  }
  
  .hide {
    display: none;
  }