.LandingImage {
    width: 370px;
    margin: 0 auto;
    height: 100%;
    padding-top: 20px;
  }

  .LandingCard {
    border: none;
    padding-top: 20px;
  }

  .Carousel {
    width: 370px;
    margin: 0 auto;
    height: 100%;
  }
  
  .LandingButton {
    margin-right: 15px;
    color: #ffffff;
    background-color: #000000;
    border: none;
  }

  .LandingButton:hover {
    background-color: #242a3d;
  }
  
  /* Remove right margin to the buttons on smaller screens */
  @media all and (max-width: 500px) {
    .LandingButtonMargin {
      margin-right: 0;
    }
  }
  
  /* Adjust landing page image size on smaller screens */
  @media all and (max-width: 440px) {
    .LandingImage {
      width: 80%;
      height: 80%;
    }
    .Carousel {
      width: 90%;
      height: 90%;
    }
  }