.NavBar {
    background-color: #ffffff;
}

.NavLink {
    padding: 5px;
}

.NavLink:hover {
    color: #c1c1c5;
}

.Active {
    color: #c1c1c5;
}

.Active i {
    color: #c1c1c5;
}

i:hover {
    color: #c1c1c5;
}


