.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Bolt {
  color: #A21E01;
}

.Bolt:hover {
  color: #000000;
}

.BoltOutline:hover {
  color: #A21E01;
}

.ProfilePost {
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 330px) {
  .ProfilePost {
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width:331px) and (max-width: 440px) {
  .ProfilePost {
    min-height: 120px;
    max-height: 120px;
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width:441px) and (max-width: 819px) {
  .ProfilePost {
    min-height: 140px;
    max-height: 140px;
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width:820px) and (max-width: 1366px) {
  .ProfilePost {
    min-height: 180px;
    max-height: 180px;
    min-width: 100%;
    max-width: 100%;
  }
}