.App {
    font-family: "Righteous", sans-serif;
    background-color: #fff;
    min-height: 100vh;
  }
.Main {
  padding-top: 85px;
}
.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
a {
  color: #000000;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: #555555;
  text-decoration: none;
}

a:hover i {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

i {
  color: #000000;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #555555;
}